@import "./menu";
@import "./auth";

.header {

    // .header__container

    &__container {
    }

    // .header__row

    &__row {
        justify-content: space-between;
        align-items: center;
        padding: 7px 0;
    }

    // .header__logo

    &__logo {
    }

    // .header__menu

    &__menu {
    }

    // .header__auth

    &__auth {
        
    }
}

.logo-img {
}




